<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        1. 백엔드에서 넘어온 값을 HTML안에 표시
        -{{변수}} -> 넘어온 변수를 사용하겠다!
    -->
    <h1>메인페이지입니다.</h1>
    <h2>{{name}}님 환영합니다!</h2>
    
    <!--
        2. HTML내부에서 변수를 직접 생성
        사용법 : 중 퍼 퍼 중
        주의점 : 변수를 만들 때는 set 명령어 확인하기
    -->
    {% set age = 30 %}
    <p>{{age}}살 입니다!</p>

    <!--
        3. 조건문 문법-> 파이썬 문법 떠오올리기
        if -> if
        else if -> elif
        조건문 종료 -> endif
    -->
    {% set time = "과자" %}
    {% if time == "오전" %}
    <p>오전은 노드 수업 입니다.</p>
    {% elif time == "오후"%}
    <p>오후는 머신러닝입니다.</p>
    {% else %}
    <P>집가자 브라더들~</P>
    {% endif %}

    <!--
        4. 반복문 -> 파이썬 반목문 떠올리기!
        for i in arr
        문장 종료 : endfor
    -->
        {% set arr = [1,2,3,4,5]%}
    <table border="1px solid black">
        <tr>
            <!-- 반복문을 통해서 td태그 생성-->
             {%for i in arr%}
             <td border="1px solid black">{{i}}</td>
             {%endfor%}
        </tr>
    </table>
    
</body>
</html>