<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.AccExerciseMapper">
    <insert id="acc_ex_input" parameterType="com.test.model.AccExerciseVO">
        insert into tb_accumulated_exercise(mem_id, ex_idx, ex_date, ex_done, ex_reps, ex_time)
        values (#{mem_id}, #{ex_idx}, #{ex_date}, #{ex_done}, #{ex_reps}, #{ex_time})
    </insert>
    
    <select id="get_acex_data" parameterType="com.test.model.AccExerciseVO" resultType="com.test.model.AccExerciseVO">
    	select ex_date, ex_calories
    	from tb_accumulated_exercise
    	where mem_id = #{mem_id}
    </select>
</mapper>
