.home {
    text-align: center;
    margin-top: 20px;
  }
  
  .checkbox-table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    border-spacing: 10px 0; /* Adjusts spacing between rows without affecting columns */
  }
  
  .checkbox-table th,
  .checkbox-table td {
    padding: 8px;
    text-align: left;
    border: none; 
  }
  
  .checkbox-table th {
    background-color: #f2f2f2;
  }
  
  .checkbox-table td input[type="checkbox"] {
    margin-right: 5px;
  }